{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – What is your full name?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">Check your answers before sending your application</h1>
        
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['full-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="what-is-your-name">Change<span class="govuk-visually-hidden"> full name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Role
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['your-role'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="what-is-your-role">Change<span class="govuk-visually-hidden"> role</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date started
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['date-started-day'] }} {{ data['date-started-month'] }} {{ data['date-started-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="what-is-your-role">Change<span class="govuk-visually-hidden"> role</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have a pet?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['have-pet'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="what-is-your-role">Change<span class="govuk-visually-hidden"> role</span></a>
            </dd>
          </div>
          {% if data['have-pet'] === "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of the pet
            </dt>
            <dd class="govuk-summary-list__value">
                {{ data['pets-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="what-is-your-role">Change<span class="govuk-visually-hidden"> role</span></a>
            </dd>
          </div>
          {% endif %}
        </dl>
        <h2 class="govuk-heading-m">Now send your application</h2>
        <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
        <form action="/form-handler" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>
        </form>

    </div>
  </div>

{% endblock %}
